body{
  background-color: #333;

}

body::after {
  content: "";
  background: url("../img/pattern1.svg");
  height: 100vh;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(80, 80, 80);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgb(39, 39, 39);
}

#profile {
  float:right;
}

#groups {
  display: flex;
  flex-direction: column;
}

.group {
  color: white;
  display: flex;
  flex-direction: row;
  background-color: rgb(80, 80, 80);
  margin: 4% 10% 0;
  border-radius: 5px;
}

.group div {
  margin: 2%;
}

.group h2 {
  margin-top: 0;
  color: rgb(207, 158, 253);
}

.user {
  font-weight: 100;
  background-color: rgb(126, 126, 255);
  padding: 3px;
}

button {
  background-color: rgb(101, 101, 255); /* Green */
  border: none;
  color: white;
  padding: 13px 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}