* {
    box-sizing: border-box;
}

body {
    background-color: #333;
}

body::after {
    content: "";
    background: url("../img/pattern1.svg");
    height: 100vh;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 80, 80);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(39, 39, 39);
}

.edit {
    flex-direction: row;
    float: right;
}

.profile {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    margin-bottom: 0.1rem;
    border-radius: 100px;
    width: 15%;
    height: 15%;
    border: 2.5px solid white;
}

h1 {
    text-align: center;
    color: rgb(207, 158, 253);
}

h2 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 0px;
    color: rgb(126, 126, 255);
    font-weight: 700;
}

p {
    display: block;
    word-wrap: break-word;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

li {
    padding-bottom: 0.5rem;
}

.games,
.about {
    flex-direction: column;
    display: flex;
    color: white;
    background-color: rgb(80, 80, 80);
    margin: 4% 10% 0;
    border-radius: 5px;
    font-size: 1.25rem;
}

.material-icons {
    position: relative;
    top: 5px;
}

footer {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin-top: 85px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(101, 101, 255);
}

footer p {
    margin: 2px;
    line-height: 1.25;
}

footer p:last-of-type {
    padding-top: 8px;
}

.games:last-child {
    margin-bottom: 10rem;
}

@media (min-width: 550px) {
    p,
    h1,
    h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (min-width: 550px) {
    .games {
        list-style: auto;
    }
    footer,
    .edit {
        background-color: rgb(101, 101, 255);
        ;
    }
}